#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  background-color: black;
}

.left-div {
  display: flex;
  color: #33dd88;
  margin: 0;
}

.boxes {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.header {
  color: #33dd88;
}
.text {
  align-content: end;
  height: auto;
  overflow: hidden;
  vertical-align: top;
  text-align: left;
}
.text p {
  /* margin: 0em 0em 0em 1.8em; */
  display: flex;
  justify-content: flex-start;
  width: 170px;
  margin: 0;
  color: #33dd88;
  font-family: monospace;
  font-weight: bold;
  font-size: 12pt;
  letter-spacing: .2em;
}
.text .allowance {
  text-align: left;
}
.outcome {
  padding-bottom: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.span {
  letter-spacing: .5em;
}