#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.left-div {
  display: flex;
}

.boxes {
  display: flex;
  justify-content: space-between;
  width: 790px;
  /* overflow: hidden; */
}

.header {
  color: #33dd88;
}
.text {
  align-content: end;
  height: 408px;
  overflow: hidden;
  vertical-align: top;
}
.text p {
  margin: 0em 0em 0em 1.8em;
  display: flex;
  justify-content: flex-start;
  width: 150px;
}
.outcome {
  padding-bottom: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.span {
  letter-spacing: .5em;
}