#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: space-between;
  width: 590px;
}

.header {
  color: #33dd88;
}
.span {
  letter-spacing: .5em;
}