#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: space-between;
  width: 590px;
}

.header {
  color: #33dd88;
}
.text {
  align-content: end;
  margin-bottom: 1.5em;
}
.text p {
  margin: 0em 0em 0em 1.8em;
  display: flex;
  justify-content: flex-start;
  width: 150px;
}
.span {
  letter-spacing: .5em;
}