.main-div {
    background-image: url('./thumbnail/bg.png');
    padding: .6em .4em 0.5em 0.8em;
    width: 730px;
    height: 449px;

    display: flex;
    flex-direction: column;
    
}
.terminal-background {
    background-image: url('./thumbnail/monitorborder.png');
    width: 920px;
    height: 670px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -45.5%);
    z-index: -10;
}
/* ADD THE LAST TERMINAL BACKGROUND PICTURE */
.grid {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.leftgrid, .rightgrid {
    flex-direction: column;
    color: #33dd88;
} 

.leftgrid p, .rightgrid p {
    margin: 0;
    padding: 0;
}
.leftgrid p {
    height: 20.2px;
}
.leftgrid {
    width: 75px;
    text-align: left;
}
.rightgrid {
    /* background: darkgreen; */
    /* width: 210px; */
    width: 210px;
    word-wrap: break-word;
    white-space: pre-wrap;
    /* letter-spacing: .8px; */
    text-align: left;
    display: grid;
    grid-template-columns: repeat(12, 14px);
    grid-template-rows: repeat(17, 20px);
    text-align: center;
}

.header span:first-child {
    padding-left: .8em;
}

.code-desc {
    letter-spacing: .5em;
}

.div-main {
    animation: upwards ease 2.2s;
    animation-fill-mode: forwards
}

@keyframes upwards {
    from {transform: translateY(auto)}
    to {transform: translateY(-155%)}
}