.main-terminal {
    background-image: url('./thumbnail/bg.png');
    transform: translateY(-28%);
    position: relative;
}
.main-div {
    position: relative;
    padding: .6em .4em 0.5em 0.8em;
    width: 730px;
    height: 449px;
    display: flex;
    flex-direction: column;
    
    z-index: -11;
}
.top-header, .locked-terminal {
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;
    color: #33dd88;
}
.terminal-background {
    width: 920px;
    height: 670px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -65.5%);
    z-index: -10;
}
/* ADD THE LAST TERMINAL BACKGROUND PICTURE */
.grid {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.leftgrid, .rightgrid {
    flex-direction: column;
    color: #33dd88;
    font-weight: bold;
    font-family: monospace;
    font-size: 12pt;
} 

.leftgrid p, .rightgrid p {
    margin: 0;
    padding: 0;
}
.leftgrid p {
    height: 20.2px;
}
.leftgrid {
    width: 75px;
    text-align: left;
}
.rightgrid {
    /* background: darkgreen; */
    /* width: 210px; */
    width: 170px;
    word-wrap: break-word;
    white-space: pre-wrap;
    /* letter-spacing: .8px; */
    text-align: left;
    display: grid;
    grid-template-columns: repeat(12, 14px);
    grid-template-rows: repeat(17, 20px);
    text-align: center;
}

.header span:first-child {
    padding-left: .8em;
}

.code-desc {
    letter-spacing: .5em;
}

.power-btn, .power-btn2 {
    position: absolute;
    transform: translate(1265%, 60px);
    /* transform: translate(1000%, 60%); */
    background: white;
    cursor: pointer;
    padding: 1.55em;
}
.power-btn2 {
    transform: translate(510%, 325%);
}

.locked-terminal {
    display: none;
}

.locked-terminal-styles {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-family: monospace;
    font-weight: bold;
    color: #33dd88;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.upper-background {
    position: absolute;
    top: 0%;
    background: url('./thumbnail/monitorborder.png');
    background-position: top;
    background-size: 90em;
    width: 750px;
    height: 120px;
    z-index: 2;
    transform: translate(0%, -100%);
}

.blinker {
    animation: blink .5s linear infinite;
}
.div-main {
    /* animation: upwards ease 2.2s; */
    animation: upwards ease 1.8s;
    animation-fill-mode: forwards;
    /* animation-duration: 1.7s; */
}
@keyframes upwards {
    from {transform: translateY(auto)}
    to {transform: translateY(-125%)}
}
@keyframes blink {
    30% {
        opacity: 0;
    }
}