.grid {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.leftgrid, .rightgrid {
    flex-direction: column;
} 

.leftgrid p, .rightgrid p {
    margin: 0;
    padding: 0;
}
.leftgrid {
    width: 75px;
    text-align: left;
}
.rightgrid {
    background: darkgreen;
    width: 210px;
    word-wrap: break-word;
    white-space: pre-wrap;
    letter-spacing: 1.8px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(12, 17px);
    grid-template-rows: repeat(17, 24px);
    text-align: center;
}